.project-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-right: 10vw;
    background-color: whitesmoke;
 
}

.vitamin-sol {
    display: flex;
    background-image: url('../Images/vitamin-sol.png');
    box-sizing: border-box;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    /* height: 30vh; */
    width: 49%;
    -webkit-transform: scale(1);
	transform: scale(1);
    transform-origin: center;
	-webkit-transition: .3s ease-in;
	transition: .3s ease-in;
    }

.vitamin-sol:hover {
    -webkit-transform: scale(.95);
    transform: scale(.95);
    transform-origin: center;
    
}

.stone-babes {
    display:flex;
    background-image: url('../Images/stone-babes.png'); 
    box-sizing: border-box;
    margin: 0;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: border-box;
    /* width: 49%; */
    -webkit-transform: scale(1);
	transform: scale(1);
    transform-origin: center;
	-webkit-transition: .3s ease-in;
	transition: .3s ease-in;
    overflow: hidden;
}

.stone-babes:hover {
    -webkit-transform: scale(.95);
	transform: scale(.95);
    transform-origin: center;
    
}

.back-button {
    
}

@media screen and (min-width: 992px){
    .stone-babes {
        width: 49%;
        height: 70vh;
        margin-bottom: 1vh;
        background-clip: border-box;
    }

    .vitamin-sol {
        width: 49%;
        height: 70vh;
        margin-bottom: 1vh;
        background-clip: border-box;
    }
}

@media screen and (max-width: 1200px){
    .stone-babes {
        width: 100%;
        /* height:40vh; */
        margin-bottom: 1vh;
        background-clip: border-box;
    }

    .vitamin-sol {
        width: 100%;
        /* height: 40vh; */
        margin-bottom: 1vh;
        background-clip: border-box;
    }
}

@media screen and (max-width: 600px){
    .stone-babes {
        width: 100%;
        /* height: 50%; */
        margin-bottom: 1vh;
        background-clip: content-box;
    }

    .vitamin-sol {
        width: 100%;
        /* height: 50%; */
        margin-bottom: 1vh;
        background-clip: content-box;
    }
}