/* @import "react-alice-carousel/lib/alice-carousel.css"; */

.carousel-container {
    margin-left: 10vw;
    margin-right: 10vw; 
    
}

/* .vita-home {
    background: url("../Images/vita-home.png") no-repeat center center;
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-about {
    background: url("../Images/vita-about.png") no-repeat center center;
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-calc {
    background: url("../Images/vita-calc.png") no-repeat center center;
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-loading {
    background: url("../Images/vita-loading.png") no-repeat center center;
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-solution {
    background: url("../Images/vita-solution.png") no-repeat center center;
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} */
 
 
 
 