.carousel-container {
    margin-left: 10vw;
    margin-right: 10vw; 
    margin-top: 4vh;
}



.vita-home {
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-about {
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-calc {
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-loading {
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.vita-solution {
    margin-left: 10vw;
    margin-right: 10vw;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
} 

.vita-vid-container video {
    display: flex;
    height: auto;
    width: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

