.skill-icons {
    display: flex;
    padding: 5vh 5vw;
    margin-top: 5vh;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    height: 100vh;
    background: url(../Images/16F0E768-F96F-45C5-9840-DE2F8AB19FBA-grayscale.jfif) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-left: 10vw;
    margin-right: 10vw;
    align-content: flex-start;
    align-items: center;
    /* filter: brightness(50%); */
}

img {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 20%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 4%;
    /* margin-bottom: 3%;    */
}

#node {
    filter: brightness(0%) invert(1);
    background-color: transparent;
}

#github {
    filter:brightness(100%) invert(0);
    background-color: transparent;
}

@media screen and (min-width: 992px){
    .skill-icons {
        height: 100vh;
    }

    img {
        width: 20%;
        margin-bottom: 5%;
        margin-top: 5%;
        /* padding: 10%; */
    }
}

@media screen and (max-width: 1200px){
    .skill-icons {
        height: fit-content;
    }

    img {
        width: 50%;
        padding: 10%;
    }
}

@media screen and (max-width: 600px){
    .skill-icons {
        height: fit-content;
    }

    img {
        width: 50%;
        padding: 10%;
    }
}
