.skill-icons {
    display: flex;
    /* padding: 5vh 5vw; */
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    box-sizing: border-box;
    height: 150vh;
    background: url(../Images/16F0E768-F96F-45C5-9840-DE2F8AB19FBA.jfif) no-repeat top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin-top: 5vh;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 10vh;
    /* margin-bottom: 0; */
    align-content: flex-start;
    align-items:flex-start;
    /* filter: brightness(50%); */
    /* overflow-y: visible; */
}

/* .skill-list {
    font-family: 'Sarina', cursive;
    font-family: 'Aboreto', cursive;
    color: whitesmoke;
    font-size: 5vh;
    font-weight: 500;
    letter-spacing: -.1vw;
} */

.icon-box {
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    align-items: flex-start;
    justify-content: space-evenly;
}

/* .skill-text {
    display: flex;
    margin-top: 0;
    flex-direction: row;
    justify-content: flex-start;
} */

svg {
    display: flex;
    padding: 4%;
    margin: 9%;
    background-color: rgba(255, 255, 255, 0.664);
    -webkit-transition: .3s ease-in;
	transition: .3s ease-in;
    /* box-sizing: border-box;
    flex-direction: row;
    flex-wrap: wrap;
    height: fit-content;
    width: 50%;
    align-items: flex-start;
    justify-content: space-between;
    padding: 1.5%;
    margin: 9%;
    background-color: rgba(255, 255, 255, 0.5); */

}

svg:hover {
    -webkit-transform: scale(1.2);
	transform: scale(1.2);
    transform-origin: center;
}

/* #node {
    filter: brightness(0%) invert(1);
    background-color: transparent;
}

#github {
    filter:brightness(100%) invert(0);
    background-color: transparent;
} */


@media screen and (min-width: 992px){
    .skill-icons {
        height: 150vh;
    }

    .icon-box {
        flex-direction: row;
        margin: 4%;
    }

    svg {
        width: 7%;
        padding: 2%;
        margin: 4%;
    }
}

@media screen and (max-width: 1200px){

    .icon-box {
        flex-direction: row;
    }

    svg {
        width: 10vw;
    }
}

@media screen and (max-width: 600px){

    svg {
        width: 10vw;
    }
}
