.nav ul {
    /* color: black; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    text-decoration: none;
    font-family: 'Antonio', sans-serif;
    /* margin-left: 5rem;
    margin-right: 5rem; */
    padding-left: 10vw;
    padding-right: 10vw;
    padding-top: 7vh;
    font-size: 2vw;
    background-clip: content-box;
}

.nav li:visited {
    text-decoration: none;
    color: black;
    border: 1px solid black;
   

}

.nav li.active {
    /* background-color: whitesmoke;
    border: solid;
    border-color: black; */
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    border: 3px solid black;

}

.nav li.active:hover {
    /* background-color: whitesmoke; */
    color: black;
    background-color: whitesmoke;
    border-width: 1px;

}

.nav li:hover {
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
    border: solid;
    border-width: 1px;
    border-color: black;
}




