a, a:visited, a:hover, a:active {
  text-decoration: none;
  color: inherit;
}

.full-background {
  background: url(/src/components/Images/16F0E768-F96F-45C5-9840-DE2F8AB19FBA.jfif) no-repeat top center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: -1;
}



/* * {
  box-sizing: border-box;
  text-decoration: none;
}

*:link {
  text-decoration: none;
}

*:visited {
  text-decoration: none;
}

*:hover {
  text-decoration: none;
}

*:active {
  text-decoration: none;
}

body {
  margin: 0;
  background-color: whitesmoke;
} */


/* react default format */

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


